<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/socialnetwork/socialnetwork.css">
    </head>
    <body>
        <div id="id_header_div">
            <div id="id_site_name">
                THE SOCIAL NETWORK            
            </div>
            <p style="margin:10px;">
              <a href="{% url 'self' %}" id="id_nav_profile" class="header_button">
                {{user.first_name}} {{user.last_name}}
              </a> 
            </p>
            <p style="margin:10px; padding-bottom: 20px">
              <a href="/" id="id_nav_global_stream" class="header_button">
                global
              </a> 
              &nbsp;
              <a href="friend" id="id_nav_follower_stream" class="header_button">
                follower
              </a> 
              &nbsp;
              <a href="{% url 'logout' %}" id="id_nav_logout" class="header_button">
                logout
              </a> 
            </p>
        </div>
        <div id="main">
          {% block content %}
		      {% endblock %}
        </div>
    </body>
</html>